<div class="form_item_block">
  <label>AppId:
  </label>
  <input type="text" ng-model="appId"/>
  <span class="form_error" ng-show="GOINPUTNAME[appId].$error.server">{{ GOINPUTNAME[File].$error.server }}</span>
</div>
<div class="form_item_block">
  <label>StackId:
  </label>
  <input type="text" ng-model="stackId" />
</div>
<div class="form_item_block">
  <div class="checkbox_row">
    <input id="nowait2" type="checkbox" ng-model="noWaitFalse" ng-init="noWaitFalse = noWaitTrue" ng-change="noWaitTrue = noWaitFalse" ng-true-value="true" ng-false-value="false">
    <input id="nowait" type="hidden" ng-model="noWaitTrue" value="{{noWaitTrue}}">
    <label for="nowait">Don't wait for deployment to finish.</label>
  </div>
</div>
